<!DOCTYPE html>
<html>

<head>
    <title> 404 </title>
    <link rel="icon" href="/img/logo.png">
    <link rel='stylesheet' href='/css/styles.css'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

</head>

<body>
    <div class="main-container">
        <img class='logo' src="/img/logo.png">
        {{>header}}
        <h1 class=>{{title}}</h1>
        <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>


</html>