<!DOCTYPE html>
<html>

<head>
    <title> About </title>
    <link rel="icon" href="/img/logo.png">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class="main-container">
        <img class='logo' src="/img/logo.png">
        {{>header}}
        <h1 class=>{{title}}</h1>
        <h3> Blizzard Cloud is a site to get current temperature and other weather information of any place in the
            world.
            The site was created by Deep Shah. It uses darksky and mapbox API. The site is mainly written in NodeJS with
            use of popular NodeJS framework Express and with the use of handlebar expressions.
            To view the code on github and to get the reference of API please refer
            to the <a href='resources'>resources</a> page. </h3>
        <img src='/img/node.jpg' alt='Deep Shah' height='250'>
    </div>

    {{>footer}}
</body>

</html>